{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block body %}
    <div>
    {% set sum = 0 %}
    {% for product in products %}
        <img src="../images/{{ product.product.image }}" height="200" />
        <p>Название: {{ product.product.name }}</p>
        <p>Описание: {{ product.product.description }}</p>
        <form action="{{ path('basketChange') }}">
            <label>Текущее количество:</label>
            <input type="hidden" name="id" value="{{ product.id }}">
            <input type="text" name="count" value="{{ product.count }}">
            <button type="submit" name="changeCount" >Изменить</button>
        </form>
        <p>Цена: {{ product.product.price * product.count }} грн.</p>
        {% set sum = sum + product.product.price * product.count %}
        <p><a href="{{ path('basketRm', { 'id': product.id }) }}">Удалить товар</a></p>
    {% endfor %}
        <h2>Общая сумма: {{ sum }}</h2>
    </div>
{% endblock %}
