{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div>
        <img src="../images/{{ product.image }}" height="200" />
        <p>{{ product.name }}</p>
        <p>{{ product.description }}</p>
        <p>{{ product.price }} грн.</p>
        <p><a href="{{ path('basketAdd',  { 'id': product.id }) }}" >Добавить в корзину</a></p>
    </div>
{% endblock %}
