{% extends 'base.html.twig' %}

{% block title %}{{ user.name }}{% endblock %}

{% block body %}
  <div>
  <h1>Hello {{ user.name }}</h3>
    <h3>Check your data</h3>
    <img src="../images/profile.svg.png" height="100" />
    <p>Email: {{ user.email }}</p>
    <p>Phone: {{ user.phone }}</p>
    <p>City: {{ user.city }}</p>
    <p>Adress: {{ user.adress }}</p>
  </div>
{% endblock %}