{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div class="main">
  {% if form_array is defined %}
     {% if titles is defined %}
      <p>
        {{ titles.store }}
      </p>
      {% endif %}
    <form action="/index.html" id="addProduct" method="POST">
      {% for arr in form_array %}
      <p>
      {% if arr.labelName %}
        <label>{{ arr.labelName }}</br></label>
      {% endif %}
        
        <input type="text" name="{{ arr.name }}" id="{{ arr.id }}" placeholder="{{ arr.placeholder }}"/>
      </p>
      {% endfor %}
      <p>
        <button class="add" type="submit">{% if titles is defined %}{{ titles.button }}{% endif %}</button>
      </p>
      {% if titles is defined %}
      <p>
        {{ titles.history }}
      </p>
      {% endif %}
      <div>
        <table id="history">
          <tr>
          {% for table in tables %}
            <th>{{ table }}</th>
          {% endfor %}
          </tr>
        </table>
      </div>
      {% if titles is defined %}
      <p>
        {{ titles.allTable }}
      </p>
      {% endif %}
      <div>
        <table id="table">
          <tr>
          {% for table in tables %}
            <th>{{ table }}</th>
          {% endfor %}
          </tr>
        </table>
      </div>
    </form>
  {% endif %}
</div>
{% endblock %}