{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <h1>Зарегестрируйтесь или <a href="{{ path('login') }}">войдите в свой профиль</a></h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.phone) }}
        {{ form_row(registrationForm.city) }}
        {{ form_row(registrationForm.adress) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn btn-primary">Регистрация</button>
        <span>или</span>
        <a class="btn btn-danger" href="{{ path('list') }}">Продолжить без регистрации</a>
    {{ form_end(registrationForm) }}
{% endblock %}
